<div class="m-0 p-0" style="background-color: #caebf2; height: 100vh;">
    <div class="m-0 p-0 pt-3 text-center" style="background-color: #0d6efd; height: 25vh;">
        <p class="h4" style="color: white;">Welcome</p>
        <a href="#" class="h1" style="text-decoration: none; color: #efefef;">Soham Gupta</a>
    </div>
    <style>
        .buttonDashboard:hover{
            background-color: #00d0ff !important;
            color: whitesmoke !important;
        }

        .buttonDashboard{
            transition: all ease-out 500ms; 
            border-radius: 10px;   
        }

        .button1{
            border: none; 
            background-color:#caebf2; 
            width: 100%; 
            height: 8vh; 
            color: rgb(74, 74, 74); 
        }
        .button2{
            border: none; 
            background-color:#b0e3ee; 
            width: 100%; 
            height: 8vh; 
            color: rgb(74, 74, 74);
        }
    </style>
    <div class="m-0 p-0 text-center" style="height: 60vh">
        <button class="m-0 p-0 h4 buttonDashboard button1">Home</button>
        <button class="m-0 p-0 h4 buttonDashboard button2">Family Status</button>
        <button class="m-0 p-0 h4 buttonDashboard button1">Patients</button>
        <button class="m-0 p-0 h4 buttonDashboard button2">Ask Help</button>

    </div> 
    <div class="m-0 p-0 pt-3 text-center" style="height: 15vh;">
        <button onclick="location.href='/logout'" class="m-0 p-0 h4" style="border: none; background-color:#0d6efd; width: 100%; height: 15vh; color: #efefef;">LogOut</button>
    </div>
</div>