<%- include('./_header.ejs') %>
<div class="row" style="overflow: hidden;">
    <div class="col-md-3">
        <%- include('./_dashboardNav.ejs') %>
    </div>
    <div class="col-md-9">
        <%- include('./_dashboardTop.ejs') %>
        <div id="window" style="background-color: #efefef; height: 75vh;" class="p-3">