<!DOCTYPE html>
<html>
    <head>
        <title>ChatPRO</title>
        <link type="text/css" rel="stylesheet" href="https://codepen.io/gsoham562/pen/jOZOEGL.css">
    </head>
    <body>
        <div class="chat-container">
            <header class="chat-header">
                <h1>ChatPRO</h1>
                <a class="btn" id="leave-btn">Leave</a>
            </header>
            <main class="chat-main">
                <div class="chat-sidebar">
                    <h3>Room Name : </h3>
                    <h2 id="roomNameShow"></h2>
                    <h3>Users</h3>
                    <ul id="users"></ul>
                </div>
                <div class="chat-messages"></div>
            </main>
            <div class="chat-form-container">
                <form id="chat-form">
                    <input id="msg" type="text" placeholder="Enter Message" autocomplete="off" required>
                    <button class="btn" type="submit">Send</button>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>