<%- include('partials/_header.ejs') %>
<div class="row">
    <div class="col-md-3">
        <%- include('partials/_dashboardNav.ejs') %>
    </div>
    <div class="col-md-9">
        <%- include('partials/_dashboardTop.ejs') %>
        <div id="window" style="background-color: #efefef; height: 75vh;">
        
        </div>
    </div>
</div>
<%- include('partials/_footer.ejs') %>